.card {
    border-radius: 15px;
    background: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    p {
      font-size: 1.1rem;
      color: #333;
    }
  }
  .upload-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
  
    h3 {
      margin-bottom: 10px;
    }
  
    input {
      margin: 10px 0;
    }
  
    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  