
  @if(job){
<tr  [id]="job.id"  class="row m-0 p-0">
  
  <td  class="col-1">{{ job.title }}</td>
  <td  class="col-1">{{ job.componay }}</td>
  <td  class="col-1">{{ job.publication_date }}</td>
  <td  class="col-2">{{ job.job_location.join(', ') }}</td>
  <td  class="col-1">{{ job.job_type }}</td>
  <td  class="col-1">{{ job.salary }}</td>
    <td  class="col-2">{{ job.html_word }}</td>
      <td class="col-2">{{ job.additional_conditions }}</td>
  <td  class="col-1">
    <button (click)="emitEdit()">ערוך</button>
    <button (click)="deleteJobObj()">מחק</button>
  </td>
</tr>
  }

