.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #fff;
    padding: 2rem;
    position: relative;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  }
  
  .popup-content h2 {
    margin-bottom: 1rem;
  }
  
  .popup-content button {
    margin-top: 1rem;
    color: #000;
    padding: 0rem 1rem;
    border: none;
    font-size: 40px;
    left: 8px;
    top: 0px;
    border-radius: 8px;
    cursor: pointer;
  }
  .close-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
