
<div class="row">
    @if (Jobs$ | async ;as jobs_list) {
        @if (jobs_list != null) {
    @for (item of jobs_list| paginate: { itemsPerPage: 1, currentPage: currentPage }; track $index  ) {
      
        <app-card-job class="col-md-8 col-12"
        [job]="item"></app-card-job>
    }  
    <pagination-controls
    class="col-md-8 col-12"
    (pageChange)="currentPage = $event"
    previousLabel=""
    nextLabel="">
  </pagination-controls>

}
}
   
@else if(isLoading){
    <app-loading></app-loading>
}  </div>
