

    <nav>
      <ul>
        @if (is_login === 0|| is_login===1) {
          <li>
            <a href="/">
              <img class="logo" src="./assets/logo.webp" width="50" height="50" alt="logo">
              דרושים
            </a>
          </li>
        } @else if (is_login === 2) {
          <li>
            <a href="/">
              <img class="logo" src="./assets/logo.webp" width="50" height="50" alt="logo">
              ניהול משרות
            </a>
          </li>
        }
        @if (is_login === 0)
      {
        <li>
            <a routerLink="/התחברות">כניסה לאזור אישי</a>
          </li>
      }
          
         @else if (is_login === 1 || is_login === 2) {
          <li class="dropdown">
            <button class="my_details">האזור האישי שלך</button>
            <ul class="dropdown-menu">
              <li (click)="openDetails()">פרטים אישיים</li>
              <li (click)="openConfirmationDialog()">התנתק</li>
            </ul>
          </li>
        }
      </ul>
    </nav>
  
  <router-outlet />

