@import "../../varibles.scss";
@media(min-width:767px){
  .job-card {
    padding: 50px 50px 95px 50px;}

}
@media(max-width:767px){
  .job-card {
    padding: 25px 25px 95px 25px;}

}
.job-card {
    border: 1px solid #ddd;
    border-radius: 10px;
 
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  .salary{
    min-height: 27px;
  }
  .description_job{
    -webkit-line-clamp: 2; // מספר השורות
    min-height: 54px; 
  }
  
  .job-header h2 {
    font-size: 22px;
    color: #ff007f;
    margin-bottom: 5px;
  }
  .job-description{
    min-height: 90px;
    .limit-row{
          -webkit-line-clamp: 3; // מספר השורות
    }

  }
  
  .job-header h3 {
    font-size: 18px;
    color: #090446;
    margin-bottom: 5px;
  }
  
  .job-header .date {
    font-size: 18px;
    color: gray;
  }
  
  .job-details p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .job-footer {
    margin-top: 15px;
    font-weight: bold;
  }
  .job-button-send{
    margin-top: 15px;
    position: absolute;
    left: 5%;
    padding: 8px;
    border-radius: 2px;
    background-color: $back_color;
    color: $text_color;
  }
  .progress-container {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: $back_color;
    width: 0%;
    transition: width 0.5s ease-in-out;
  }
  .resume_past{
    font-weight: bold;
    color: rgb(35, 192, 35);
    text-align: end;
    font-size: 24px;

  }
  